/Frontend/node_modules/
/Backend/.vs/
/Frontend/.next/
Frontend/.next/cache/webpack/client-development/0.pack.gz
Frontend/.next/cache/webpack/client-development/0.pack.gz
/Frontend/.next
Frontend/.next/cache/webpack/client-development/0.pack.gz
Frontend/.next/cache/webpack/client-development/1.pack.gz
Frontend/.next/cache/webpack/client-development/index.pack.gz
