
.container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
   

  .status-system, 
  .watering-schedule, 
  .sensors, 
  .weather-forecast {
    padding: 20px;
    
  }
  
  .status_system {
    grid-column: 1;
  }

  .watering_schedule {
    grid-column: 2;
  }

  .sensors {
    grid-column: 3;
  }

  .weather_forecast {
    grid-column: 4;
  }
}


