$footer-background: #ffffff; 
$footer-font-color: #000000; 

.footer {
    background-color: $footer-background;
    padding: 10px;
    text-align: center;
    color: $footer-font-color;
    position: fixed;
    width: 100%;
    bottom: 0;
}