.sensors {
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;

    h2 {
        color: #333;
        margin-top: -20px;
        font-size: 30px;
    }

    p {
        margin: 10px 0;
        font-size: 20px;
        color: #555;
        text-align: left;
    }

    .soil_moistur, .temperature {
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        font-size: 14px;
    }

    .soil_moistur {
        background-color: #2196f3; /* Колір фону для вологості */
        color: rgb(255, 255, 255);
    }

    .temperature {
        background-color: #ff9800; /* Колір фону для температури */
        color: white;
    }
}
